* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#meme-image-container {
  background-color: white;
  display: flex;
  justify-content: center;
  width: max-content;
  height: 500px;
  border: 1px solid black;
}

#meme-image {
  max-height: 100%;
  max-width: 100%;
}

#meme-text {
  display: flex;
  position: absolute;
  bottom: 20%;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}

input {
  width: 30%;
  margin: 10px 0;
}
