* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#meme-image-container {
  background-color: white;
  display: flex;
  justify-content: center;
  width: max-content;
  height: 500px;
  border: 1px solid black;
}

#meme-image {
  max-height: 100%;
  max-width: 100%;
}

#meme-text {
  display: flex;
  position: absolute;
  bottom: 20%;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}

input {
  width: 30%;
  margin: 10px 0;
  margin-top: 30px;
}

#fire {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#water {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#earth {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin-bottom: 10px;
  margin-top: 5px;
}

.memes {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}
